<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chlorophilia">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Chlorophilia"
        >
        <activity
            android:name="com.chlorophilia.MainActivity"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.chlorophilia.ui.fragmentSearch.PlantApiShowList" />
        <activity android:name="com.chlorophilia.ui.fragmentSearch.PlantApiShowDetailActivity" />
        <activity android:name="com.chlorophilia.ui.fragmentSearch.NicknameActivity" />
        <activity android:name="com.chlorophilia.ui.fragmentMyPlants.MyPlantsViewDetails" />
        <activity android:name="com.chlorophilia.ui.sensorProvider.SensorActivity" />
        <activity android:theme="@style/Theme.AppCompat.Light.Dialog.Alert"  android:name="com.chlorophilia.ui.fragmentMyPlants.MyPlantsRemove" />
        <activity android:name="com.chlorophilia.ui.fragmentSearch.SeeDetailsActivity" />
        <activity android:theme="@style/Theme.AppCompat.Light.Dialog.Alert"  android:name="com.chlorophilia.ui.fragmentMyPlants.MyPlantsShowDialog" />
        <activity android:name="com.chlorophilia.ui.apiProvider.ApiInstance" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.chlorophilia.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
    </application>

</manifest>